.item.news-item
  a.news-link(href='#life_on_mars_video', data-toggle='modal')
    .news-hover
        .news-hover-content
            h2 life on mars // video 
            h3 by they shoot music
    img.img-responsive(src='/img/tiles/life-on-mars-schmusechor-video.jpg', alt='Schmusechor performs Life on Mars acappella (David Bowie Cover)')
