.item.news-item
  a.news-link(href='#onetake', data-toggle='modal')
    .news-hover
        .news-hover-content
            h2 Onetake film festival
    img.img-responsive(src='/img/tiles/onetake.png', alt='')
