.col-md-4.col-sm-6.portfolio-item
  a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
    .portfolio-hover
      .portfolio-hover-content
        img.img-responsive(src='https://s3.eu-central-1.amazonaws.com/schmusechor-img/img01.jpg', alt='')
  .portfolio-caption
    h4 caption
    p.text-muted more