+link_tile('Schmusechor // poolbar Festival', 
              'Foto u.a. Friseur Einzigart',
              'https://www.facebook.com/pg/schmusechor/photos/?tab=album&album_id=1842339945783794', 
              'img/tiles/1707 schmusechor poolbar festival.jpg')