+link_tile('Schmusen mit Josef Hader', 
              'Grünes Wanderkino - Wilde Maus',
              'https://www.facebook.com/pg/schmusechor/photos/?tab=album&album_id=1867737589910696', 
              'img/tiles/1708 schmusechor wilde maus.jpg') 