+link_tile('The Schmusical',
           'Bilder by Lukas Maul',
           'https://www.facebook.com/media/set/?set=a.1797029033648219.1073741854.960434877307643&type=1&l=f94c7ba684', 
           'img/tiles/the-schmusical3.jpg')