+link_tile('Konzert-Review: The Schmusical', 
              'etc. Magazin',
              'http://www.etc-magazin.com/index.php/musikm/551-schmusechor-one-night-in-the-name-of-love', 
              'img/tiles/schmusical-review-etc.jpg') 