+link_tile('Live Session im STANDARD', 
              'STANDARD Player',
              'https://derstandard.at/2000071407699/Live-Session-in-der-STANDARD-Redaktion-Schmusechor', 
              'img/tiles/1801 standardplayer.jpg') 