+link_tile('Review of Life on Mars', 
           'The Gap Magazin',
            'https://thegap.at/videopremiere-schmusechor-life-on-mars-david-bowie/',
            'img/tiles/life-on-mars-schmusechor-thegaprelease.jpg')