.item.news-item
  a.news-link(href='#trailer_201703', data-toggle='modal')
    .news-hover
        .news-hover-content
            h2 first trailer
    img.img-responsive(src='/img/tiles/trailer_201703.png', alt='')
