.news-item
  a.news-link(href='#they_shoot_behind_the_scenes', data-toggle='modal')
    .news-hover
      .news-hover-content
        h2 They shoot music
        h2 Behind the Scenes
        h3 by Thomas Suchanek
    img.img-responsive(src='/img/tiles/they_shoot_behind_the_scenes.png', alt='')
    
