.news-item
  a.news-link(href='#video_faq', data-toggle='modal')
    .news-hover
      .news-hover-content
        h2 FAQ Bregenzerwald
        h3 video featuring Schmusechor
    img.img-responsive(src='/img/tiles/faq_bregenz.png', alt='')
