.col-md-4.col-sm-6.news-item
  a.news-link(href='#video_faq', data-toggle='modal')
    .news-hover
      .news-hover-content
        h2 Bootcamp Doku
    img.img-responsive(src='https://img.youtube.com/vi/2jyMa5M_Wa4/0.jpg', alt='')
