.item.news-item
  a.news-link(href='#video_docu', data-toggle='modal')
    .news-hover
        .news-hover-content
            h2 Bootcamp 2016
            h3 The Documentary
    img.img-responsive(src='/img/tiles/bootcamp_2016.png', alt='')
