.col-md-4.col-sm-6.news-item
  a.news-link(href='#video_faq', data-toggle='modal')
    .news-hover
      .news-hover-content
        h2 Schmusechor @ FAQ Bregenzerwald
    img.img-responsive(src='http://i.vimeocdn.com/video/595513713_640.jpg', alt='')
