#life_on_mars_video.news-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              p
                h1 Life on Mars 
                h2 Schmusechor x David Bowie
                h3 video by They shoot music
              .embed-responsive.embed-responsive-16by9
                p
                  object(data='https://www.youtube.com/embed/yXfpo_xFYP4')