#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Erste Proben
              img.img-responsive(src='https://s3.eu-central-1.amazonaws.com/schmusechor-img/img01.jpg', alt='')
