#video_faq.news-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 video vom faq bregenzerwald festival
              .embed-responsive.embed-responsive-16by9
                p
                  object(data='https://player.vimeo.com/video/185058314')