#video_docu.news-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Bootcamp 2016
              .embed-responsive.embed-responsive-16by9
                p
                  object(data='https://www.youtube.com/embed/2jyMa5M_Wa4')