section#info.container.info-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 Der Chor
      p Es gibt Hardcore, Softcore und den Schmusechor. Mit gro&szlig;er Leidenschaft und einer Mischung aus Spa&szlig; und Seriosit&auml;t gelingt es dem ersten Wiener Schmusechor einen nahezu professionellen  stimmlichen Ausdruck zu entfalten. Im Vordergrund steht der Wunsch, ihre zwei Lieblingsbesch&auml;ftigungen  miteinander zu verbinden: Schmusen &amp; Singen. Was ausgezeichnet mit Songs von Kanye West, Aleo Blacc oder  Beethoven funktioniert.
      a.btn.btn-circle.page-scroll(href='#Concerts')
        i.fa.fa-angle-double-down.animated