section#info.container.info-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 Der Chor
      br
      p
       i "Die Leidenschaft der sündhaftesten Tele Novela trifft auf die Vocal Range einer Mariah Carrey."
      p(class='quoted') - begeisterte Menschen
      p Wir sind der erste Wiener Schmusechor - eine bunt glitzernde, sexy und enthusiastische Powertruppe, gegründet 2014 in einem Meidlinger Schlafzimmer. Hochzeiten und Scheidungen - wir singen euch alles! Unser Repertoire reicht von Songs von Feist, Robyn, James Blake, Alt-J und David Bowie bis hin zu Flight Of The Conchords, Comedian Harmonists und japanischen Anime-Melodien. Da bleibt kein Auge trocken und kein Körper regungslos. Schmusen garantiert - versprochen!
      a.btn.btn-circle.page-scroll(href='#Concerts')
        i.fa.fa-angle-double-down.animated