section#video.container.video-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 one-take trailer - Kino am Naschmarkt
      .sizer
        .embed-responsive.embed-responsive-16by9
          p
            object(data='https://www.youtube.com/embed/MuK5SZOfhwk',
            width='560', height='315')
  a.btn.btn-circle.page-scroll(href='#pictures')
    i.fa.fa-angle-double-down.animated