section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading News
        h3.section-subheading.text-muted Neues vom Schmusechor
     
    .row
      include tiles/sample_tile.pug
      include tiles/sample_tile.pug
      include tiles/sample_tile.pug
    .row
      include tiles/sample_tile.pug
