section#video.container.video-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 schmusechor @ faq bregenzerwald festival 
      .sizer
        .embed-responsive.embed-responsive-16by9
          p
            object(data='https://player.vimeo.com/video/185058314#t=1m50s', width='560', height='315')
  a.btn.btn-circle.page-scroll(href='#pictures')
    i.fa.fa-angle-double-down.animated