section#info.container.info-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 Der Chor
      p Wir sind ein bunter, sexy und enthusiastischer Haufen mit geölten Stimmbändern, der Songs von Beethoven bis Kanye West neu interpretiert und Glitzer & Konfetti liebt. Entstanden 2014 im Schlafzimmer einer Wiener Wohngemeinschaft umfasst unser Chor mittlerweile rund 35 MusikliebhaberInnen, die zwei Leidenschaften verbindet: Das Singen und das Schmusen. Uns „Shower-Singers“ geht es darum Spaß beim Singen zu haben. Das mindert aber keinesfalls die Qualität des Gesangs, sondern belebt die Songs sowie die SängerInnen und steckt an!
      a.btn.btn-circle.page-scroll(href='#Concerts')
        i.fa.fa-angle-double-down.animated