section#video.container.video-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 dissolve me by alt-j
      .sizer
        .embed-responsive.embed-responsive-16by9
          p
            object(data='https://www.youtube.com/embed/k0j4mKco4_w',
            width='560', height='315')
  a.btn.btn-circle.page-scroll(href='#pictures')
    i.fa.fa-angle-double-down.animated