include mixins.pug
section#news.news-section
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading News
        h3 Neues vom Schmusechor
  .container-fluid
    .grid
      .grid-sizer.col-md-4
        include tiles/life_on_mars_video.pug
        include tiles/thegap-release-lifeonmars.pug
        include tiles/make_mars.pug
        include tiles/wienmuseum.pug
        include tiles/trailer_201703.pug      
      .grid-sizer.col-md-4
        include tiles/schmusical-fotos.pug
        include tiles/video_they_shoot_behind_the_scenes.pug
        include tiles/reindorfgasse_lukas.pug
        include tiles/video_docu.pug
        include tiles/video_faq.pug
      .grid-sizer.col-md-4
        include tiles/schmusical-review-etc.pug
        include tiles/onetake.pug
        include tiles/first_bills.pug
        include tiles/in_the_woods.pug
        include tiles/leiseart_lukas.pug