section#Concerts.concert-section.text-center
  .Concerts-section
    .container
      .col-lg-8.col-lg-offset-2
        h2 Konzerte
        table.table
          thead
            tr
              th Termin
              th Event
              th Ort
          tbody            
            tr
              td 15.10.2016
              td stadtform magazin // release
              td Wien Museum
            tr
              td 10.09.2016
              td Reindorfgassen Fest
              td B&uuml;hne Nord
            tr
              td 03.09.2016
              td FAQ-Bregenz
              td Kapelle Alpe Niedere
        div
          a.btn.btn-default.btn-lg(href='https://www.facebook.com/schmusechor/events', target='_blank')
            | More Events on 
            i.fa.fa-facebook-official(aria-hidden='true')
        div
          a.btn.btn-circle.page-scroll(href='#video')
            i.fa.fa-angle-double-down.animated